.meeting__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meeting__header-text {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
}

.meeting__header-close {
  width: 24px;
  height: 24px;
  background-color: #E9ECEF;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}

.meeting__header-close:focus {
  outline: none;
}

.meeting__header-close::before {
  background-image: url(https://yandex-shri-msk-2018.github.io/entrance-task-2/desktop-guide/assets/close.svg);
  background-repeat: no-repeat;
  background-position: center center;

  width: 24px;
  height: 24px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.meeting__header-close:focus::before,
.meeting__header-close:hover::before {
  filter: brightness(0.5);
}
