.calendar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.calendar__page-header {
  flex: 0 0 auto;
}

.calendar__meat {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.calendar__timeline {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex: 1 1 auto;
  /* Make sure timeline has fixed length. Probably, dunno what the hell. */
  width: 0px;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  flex: 0 0 auto;
  border-bottom: 1px solid #E9ECEF;
}

.calendar__header-date {
  flex: 0 0 auto;
}

.calendar__time {
  height: 46px;
  margin: 0;
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;

  display: flex;
  align-items: center;
}

.calendar__time-entry-now {
  width: 49px;
  height: 20px;
  background: #007DFF;
  border-radius: 100px;
  text-align: center;
  font-family: HelveticaNeue-Bold, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #FFFFFF;
  letter-spacing: 0.4px;
  padding: 3px 0 4px 0;
  position: absolute;
  box-sizing: border-box;
  margin-left: -24.5px;
}

.calendar__time-entry-now::after {
  content: "";
  display: block;
  border-right: 1px solid #007DFF;
  height: 20px;
  position: relative;
  left: -23.5px;
}

.calendar__time::before,
.calendar__time::after {
  content: "";
  display: block;
  flex: 0 0 auto;
  height: 100%;
}

.calendar__time::before {
  width: 24.5px;
}

.calendar__time::after {
  width: 41.5px;
}

.calendar__time-entry {
  display: inline-block;
  height: 13px;
  width: 49px;
  text-align: center;
  font-size: 11px;
  padding: 17px 0 16px 17px;
  font-family: HelveticaNeue-Bold, Arial;
  font-weight: bold;
  color: #252525;
  letter-spacing: 0.4px;
  flex: 0 0 auto;
}

.calendar__time-entry.calendar__time-entry--past {
  color: #858E98;
}

.calendar__sidebar {
  width: 245px;
  border-right: 1px solid #E9ECEF;
  flex: 0 0 auto;
  padding-left: 25px;
  box-sizing: border-box;
  overflow-y: hidden;
}

.calendar__sidebar::before {
  height: 2px;
  display: block;
  content: "";
}

.calendar__sidebar-floor {
  text-transform: uppercase;
  font-family: HelveticaNeue-Bold, Arial;
  font-weight: bold;
  font-size: 11px;
  color: #858E98;
  letter-spacing: 0.4px;
  margin-top: 20px;
  margin-bottom: 4px;
}

.calendar__sidebar-room {
  height: 44px;
  padding: 4px 0;
  box-sizing: border-box;
  color: #000000;
}

.calendar__sidebar-room-name {
  font-family: HelveticaNeue-Medium, Arial;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 2px;
}

.calendar__sidebar-room-capacity {
  font-family: HelveticaNeue, Arial;
  font-size: 13px;
  line-height: 17px;
}

.calendar__sidebar-room+.calendar__sidebar-room {
  margin-top: 8px;
}

.calendar__sidebar-room--selected>.calendar__sidebar-room-name {
  color: #0070E0;
}

.calendar__sidebar-room--reserved {
  color: #858E98;
}

