.header {
  height: 71px;
  border-bottom: 1px solid #E9ECEF;
  line-height: 71px;
  padding: 0 24px 0 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header::before {
  width: 175px;
  height: 25px;
  margin-top: 2px;

  background-image: url(https://yandex-shri-msk-2018.github.io/entrance-task-2/desktop-guide/preview/page-1-assets.png);
  background-position: -20px -25px;
  background-repeat: no-repeat;
  background-size: auto 185px;


  content: "";
}
