.meeting__block-title {
  font-size: 13px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-bottom: 4px;
  margin-top: 0;
}

.meeting__first-row,
.meeting__second-row {
  display: flex;
}

.meeting__first-row {
  margin-bottom: 24px;
}

.meeting__title,
.meeting__members {
  width: 420px;
  margin-right: 32px;
}

.meeting__members-dropdown {
  margin-bottom: 11px;
}

.meeting__date {
  width: 238px;
  margin-right: 16px;
}

.meeting__start,
.meeting__end {
  width: 72px;
}

.meeting__dash {
  margin: auto 4px;
  font-family: Arial;
  position: relative;
  top: 14px;

  width: 14px;
  overflow: hidden;
}

.meeting__dash::after {
  content: "—";
}

.meeting__room {
  width: 420px;
}
