.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal__dialog {
  box-sizing: border-box;
  min-width: 446px;
  padding: 32px 62px;
  border-radius: 8px;
  border: 1px solid rgba(0,44,92,0.28);
  background: #FFFFFF;
}

.modal__buttons {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.modal__title {
  font-family: HelveticaNeue-Medium,Helvetica,Arial,sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 16px 0 8px;
}

.modal__icon {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.modal__icon.modal__icon--danger {
  background-image: url(https://yandex-shri-msk-2018.github.io/entrance-task-2/desktop-guide/preview/page-1-assets.png);
  background-position: -114px -117px;
  background-repeat: no-repeat;
  background-size: auto 185px;
}

.modal__icon.modal__icon--success {
  background-image: url(https://yandex-shri-msk-2018.github.io/entrance-task-2/desktop-guide/preview/page-1-assets.png);
  background-position: -50px -117px;
  background-repeat: no-repeat;
  background-size: auto 185px;
}

.modal__description {
  text-align: center;
  font-family: HelveticaNeue,Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 17px;
}

.modal__description-line + .modal__description-line {
  margin-top: 6px;
}
